@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black80;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}
.link-white {
	color: white;
	&:hover,
	&:focus {
		color: darken(white, 10%);
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 78%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 80%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-main {
	position: relative;
	z-index: 1;
	margin-top: 60px;

	&.header-overlap {
		margin-top: 0;
	}

	@media #{$large} {
		margin-top: 70px;
	}
}

.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

.media {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	&-content {
		display: flex;
		flex-direction: column;
	}
}
.tabs {
	&-bar {
		display: flex;
		justify-content: flex-start;
		padding: 0;
		list-style-type: none;
		margin-bottom: 8px;
		&-item {
			display: flex;
			justify-content: center;
			margin: 0 5px;
			//min-width: 80px;
			padding: 4px 12px;
			&:hover {
				cursor: pointer;
			}
			&-active {
				border-bottom: 2px solid #0094ed;
				color: #0094ed;
			}
		}
	}
	&-content {
		padding: 10px 0;
	}
}
.tabs--justify {
	@extend .tabs-bar;
	& > * {
		flex-grow: 1;
	}
}
