<template>
	<footer>
		<hr class="mt-8" />
		<span class="h6 pb-16">&copy; 2022 Suitmedia</span>
	</footer>
</template>

<script>
export default {
	name: 'Footer'
}
</script>

<style lang="scss" scoped></style>
