<template>
	<div class="pokecard bzg_c text-center v-center" data-col="s12,m6,l3">
		<div v-if="$fetchState.pending" class="flex flex-col h-center">
			<img
				class="pokecard-img"
				src="~/assets/img/load-pokemon.gif"
				alt=""
				width="150"
			/>
		</div>

		<div v-else class="flex flex-col">
			<span class="pokecard-name h5">{{ detailData.name }}</span>
			<img
				v-lazy-load
				class="pokecard-img"
				:data-src="detailData ? detailData.sprites.front_default : ''"
				alt=""
				width="150px"
			/>
			<span class="text-small mt-8 mb-8">#{{ detailData.id }}</span>
			<div class="pokecard-types flex h-center">
				<div v-for="type in detailData.types" :key="type.name">
					{{ type.type.name }}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
			default: ''
		},
		gen: {
			type: Number,
			default: 0
		}
	},
	data() {
		return {
			detailData: []
		}
	},

	async fetch() {
		if (this.gen === 0) {
			this.detailData = await this.$axios
				.get('https://pokeapi.co/api/v2/pokemon/' + this.name)
				.then(res => res.data)
		} else {
			this.detailData = await this.$axios
				.get('https://pokeapi.co/api/v2/pokemon-species/' + this.name)
				.then(res => {
					return this.$axios
						.get(res.data.varieties[0].pokemon.url)
						.then(resp => resp.data)
				})
		}
	}
}
</script>

<style lang="scss" scoped>
.pokecard {
	padding: 16px 2px;
	display: flex;
	flex-direction: column;
	&-name {
		font-weight: 700;
		text-transform: capitalize;
	}
	&-types {
		div {
			padding: 6px 12px;
			background: #fffafa;
			border-radius: 5px;
			text-transform: capitalize;
			margin: 0 10px;
			box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
				0 2px 4px -2px rgba(0, 0, 0, 0.1);
		}
	}
}
</style>
