<template>
	<aside :class="isShow ? 'show-sidebar' : ''">
		<ul class="sidebar-list list-nostyle">
			<li v-for="item in listItems" :key="item.title">
				<NuxtLink class="sidebar-list-item" :to="item.url">{{
					item.title
				}}</NuxtLink>
			</li>
		</ul>
	</aside>
</template>

<script>
import { mapState } from 'vuex'
export default {
	data() {
		return {
			listItems: [
				{
					title: 'Headings',
					url: '/headings'
				},
				{
					title: 'Colors',
					url: '/colors'
				},
				{
					title: 'Lists',
					url: '/lists'
				},
				{
					title: 'Text Alignment',
					url: '/text-alignment'
				},
				{
					title: 'Buttons',
					url: '/buttons'
				},
				{
					title: 'Alert',
					url: '/alert'
				},
				{
					title: 'Card',
					url: '/card'
				},
				{
					title: 'Media Object',
					url: '/media-object'
				},
				{
					title: 'Grid',
					url: '/grid'
				},
				{
					title: 'Table',
					url: '/table'
				},
				{
					title: 'Form',
					url: '/form'
				},
				{
					title: 'Tabs',
					url: '/tabs'
				},
				{
					title: 'Pagination',
					url: '/pagination'
				},
				{
					title: 'Pokemon',
					url: '/pokemon'
				}
			]
		}
	},
	computed: mapState(['isShow'])
}
</script>

<style lang="scss" scoped>
.show-sidebar {
	display: none;
	@media #{$large} {
		display: flex;
	}
}
aside {
	position: fixed;
	z-index: 3;
	width: 250px;
	height: 92vh;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	box-shadow: 2px 3px 5px #333;
	display: flex;
	background: white;
	.sidebar-list {
		position: absolute;
		top: 0;
		width: 100%;
		&-item {
			display: block;
			color: #333 !important;
			padding: 10px 30px;
			width: 100%;
			&-active {
				background: #e7e7e7;
				font-weight: 600;
			}
		}
	}
}
</style>
