.card-group {
	display: flex;
	padding: 0 16px;
}
.card {
	display: flex;
	flex: 1 0 0%;
	flex-direction: column;
	border: 1px solid #333;
	height: 100%;
	&--header,
	&--footer {
		padding: 8px 10px;
		font-size: 14px;
	}
	&--header {
		border-bottom: 1px solid #333;
	}
	&--footer {
		border-top: 1px solid #333;
	}
	&--body {
		flex-grow: 1;
		padding: 10px;
		h5 {
			font-weight: 700;
		}
	}
}
@mixin cardStyle($color, $text-color) {
	@extend .card;
	border-color: darken($color, 20%);
	background: $color;
	color: $text-color;
	.card--header,
	.card--footer {
		background-color: darken($color, 10%);
	}
	.card--header {
		border-bottom-color: darken($color, 20%);
	}
	.card--footer {
		border-top-color: darken($color, 20%);
	}
}

@each $state, $color in $palettes {
	.card--#{$state} {
		@include cardStyle($color, #fff);
	}
}
@each $state, $color in $light-palettes {
	.card--#{$state} {
		@include cardStyle($color, #333);
	}
}
