<template>
	<div id="app" class="flex flex-col">
		<Header />
		<div class="main">
			<Sidebar />
			<main class="main-wrap">
				<div class="container">
					<nuxt />
					<Footer />
				</div>
			</main>
		</div>
	</div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	computed: mapState(['isShow'])
}
</script>
<style lang="scss" scoped>
.main {
	padding-top: 8vh;
	&-wrap {
		margin-top: 30px;
		margin-left: auto;
		display: flex;
		justify-content: center;
		@media #{$large} {
			margin-top: 60px;
			margin-left: 250px;
		}
		.content {
			width: 80%;
		}
	}
}
</style>
