<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Alert</h2>
		<div class="flex flex-col alert-list">
			<div class="alert">Alert default</div>
			<div class="alert alert--primary1">Alert primary</div>
			<div class="alert alert--secondary">Alert secondary</div>
			<div class="alert alert--warning">Alert warning</div>
			<div class="alert alert--danger">Alert danger</div>
			<div class="alert alert--green">Alert green</div>
			<div class="alert alert--orange">Alert orange</div>
			<div class="alert alert--red">Alert red</div>
			<div class="alert alert--black">Alert black</div>
			<div class="alert alert--grey">Alert grey</div>
			<div class="alert alert--light-grey">Alert light-grey</div>
			<div class="alert alert--white">Alert white</div>
		</div>
		<hr />
		<h2 class="text-primary">Alert Box</h2>
		<div class="flex flex-spacer">
			<button class="btn--primary1" @click="showAlert(1)">Alert 1</button>
			<button class="btn--primary1" @click="showAlert(2)">Alert 2</button>
		</div>
		<AlertPopUp
			:id="1"
			:current="currentAlert"
			:styling="'alert--green'"
			@hide-alert="hideAlert()"
		>
			<h4>Lorem Ipsum</h4>
			<hr />
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, nobis
				rem, placeat molestiae impedit, aperiam natus soluta assumenda dicta
				sunt quae commodi nulla architecto corporis officia? Debitis culpa
				doloribus ea.
			</p>
		</AlertPopUp>
		<AlertPopUp
			:id="2"
			:current="currentAlert"
			:styling="'alert--red'"
			@hide-alert="hideAlert()"
		>
			<h4>Lorem Ipsum</h4>
			<hr />
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, nobis
				rem, placeat molestiae impedit, aperiam natus soluta assumenda dicta
				sunt quae commodi nulla architecto corporis officia? Debitis culpa
				doloribus ea. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
				Nisi, nobis rem, placeat molestiae impedit, aperiam natus soluta
				assumenda dicta sunt quae commodi nulla architecto corporis officia?
				Debitis culpa doloribus ea.
			</p>
		</AlertPopUp>
	</div>
</template>

<script>
export default {
	data() {
		return {
			currentAlert: 0
		}
	},
	methods: {
		showAlert(alert) {
			this.currentAlert = alert
		},
		hideAlert() {
			this.currentAlert = 0
		}
	}
}
</script>
