<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Button</h2>
		<p>
			<button class="btn--primary1">Button Color</button>
			<button class="btn--ghost-primary1">Button Color</button>
			<button class="btn--flat-primary1">Button Color</button>
		</p>
		<p>
			<button class="btn--secondary">Button Color</button>
			<button class="btn--ghost-secondary">Button Color</button>
			<button class="btn--flat-secondary">Button Color</button>
		</p>
		<p>
			<button class="btn--warning">Button Color</button>
			<button class="btn--ghost-warning">Button Color</button>
			<button class="btn--flat-warning">Button Color</button>
		</p>
		<p>
			<button class="btn--danger">Button Color</button>
			<button class="btn--ghost-danger">Button Color</button>
			<button class="btn--flat-danger">Button Color</button>
		</p>
		<p>
			<button class="btn--green">Button Color</button>
			<button class="btn--ghost-green">Button Color</button>
			<button class="btn--flat-green">Button Color</button>
		</p>
		<p>
			<button class="btn--orange">Button Color</button>
			<button class="btn--ghost-orange">Button Color</button>
			<button class="btn--flat-orange">Button Color</button>
		</p>
		<p>
			<button class="btn--red">Button Color</button>
			<button class="btn--ghost-red">Button Color</button>
			<button class="btn--flat-red">Button Color</button>
		</p>
		<p>
			<button class="btn--black">Button Color</button>
			<button class="btn--ghost-black">Button Color</button>
			<button class="btn--flat-black">Button Color</button>
		</p>
		<p>
			<button class="btn--grey">Button Color</button>
			<button class="btn--ghost-grey">Button Color</button>
			<button class="btn--flat-grey">Button Color</button>
		</p>
		<p>
			<button class="btn--light-grey">Button Color</button>
			<button class="btn--ghost-light-grey">Button Color</button>
			<button class="btn--flat-light-grey">Button Color</button>
		</p>
		<p>
			<button class="btn--white">Button Color</button>
			<button class="btn--ghost-white">Button Color</button>
			<button class="btn--flat-white">Button Color</button>
		</p>
		<hr />
		<h2 class="text-primary">Button</h2>
		<p>
			<button class="btn--primary1 btn--small">Small Button</button>
			<button class="btn--ghost-primary1 btn--small">Small Button</button>
			<button class="btn--flat-primary1 btn--small">Small Button</button>
		</p>
		<p>
			<button class="btn--primary1">Normal Button</button>
			<button class="btn--ghost-primary1">Normal Button</button>
			<button class="btn--flat-primary1">Normal Button</button>
		</p>
		<p>
			<button class="btn--primary1 btn--large">Large Button</button>
			<button class="btn--ghost-primary1 btn--large">Large Button</button>
			<button class="btn--flat-primary1 btn--large">Large Button</button>
		</p>
		<hr />
		<h2 class="text-primary">Icon-only Button</h2>
		<p>
			<button class="btn--primary1 btn--small btn--icon">
				<i class="bzi-search"></i>
			</button>
			<button class="btn--ghost-black btn--small btn--icon">
				<i class="bzi-close"></i>
			</button>
			<button class="btn--flat-grey btn--small btn--icon">
				<i class="bzi-user"></i>
			</button>
		</p>
		<p>
			<button class="btn--primary1 btn--icon">
				<i class="bzi-user"></i>
			</button>
			<button class="btn--ghost-black btn--icon">
				<i class="bzi-search"></i>
			</button>
			<button class="btn--flat-grey btn--icon">
				<i class="bzi-close"></i>
			</button>
		</p>
		<p>
			<button class="btn--primary1 btn--large btn--icon">
				<i class="bzi-close"></i>
			</button>
			<button class="btn--ghost-black btn--large btn--icon">
				<i class="bzi-user"></i>
			</button>
			<button class="btn--flat-grey btn--large btn--icon">
				<i class="bzi-search"></i>
			</button>
		</p>
		<hr />
		<h2 class="text-primary">Icon + Text Button</h2>
		<p>
			<button class="btn--primary1 btn--small">
				Search
				<i class="bzi-search"></i>
			</button>
			<button class="btn--ghost-black btn--small">
				<i class="bzi-close"></i>
				Cancel
			</button>
			<button class="btn--flat-grey btn--small">
				Profile
				<i class="bzi-user"></i>
			</button>
		</p>
		<p>
			<button class="btn--primary1">
				<i class="bzi-user"></i>
				Profile
			</button>
			<button class="btn--ghost-black">
				Search
				<i class="bzi-search"></i>
			</button>
			<button class="btn--flat-grey">
				<i class="bzi-close"></i>
				Cancel
			</button>
		</p>
		<p>
			<button class="btn--primary1 btn--large">
				Cancel
				<i class="bzi-close"></i>
			</button>
			<button class="btn--ghost-black btn--large">
				<i class="bzi-user"></i>
				Profile
			</button>
			<button class="btn--flat-grey btn--large">
				Search
				<i class="bzi-search"></i>
			</button>
		</p>
	</div>
</template>

<style lang="scss" scoped>
.icon-white svg path {
	fill: white;
}
</style>
