<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Flex Card</h2>
		<div class="bzg card-group mb-32">
			<div class="bzg_c" data-col="s12,m6,l3">
				<div class="card card--primary1 mb-16">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c" data-col="s12,m6,l3">
				<div class="card card--grey mb-16">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae! Lorem ipsum
							dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
							minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c" data-col="s12,m6,l3">
				<div class="card card--light-grey mb-16">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c" data-col="s12,m6,l3">
				<div class="card mb-16">
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
		</div>
		<hr />
		<h2 class="text-primary">Baze Grid Card</h2>
		<div class="bzg">
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card card--primary1">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card card--grey">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card card--light-grey">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card card--yellow">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
			<div class="bzg_c mb-24" data-col="m3">
				<div class="card card--red">
					<div class="card--header">Card header</div>
					<img class="card--image" src="~/assets/img/site-logo.png" alt="" />
					<div class="card--body">
						<h5>Card</h5>
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Dignissimos quia consectetur quibusdam repudiandae!
						</p>
					</div>
					<div class="card--footer">Card footer</div>
				</div>
			</div>
		</div>
	</div>
</template>
