<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Text Color</h2>
		<div class="flex flex-col">
			<p class="text-primary1">Text class color = ".text-primary"</p>
			<p class="text-secondary">Text class color = ".text-secondary"</p>
			<p class="text-warning">Text class color = ".text-warning"</p>
			<p class="text-danger">Text class color = ".text-danger"</p>
			<p class="text-green">Text class color = ".text-green"</p>
			<p class="text-orange">Text class color = ".text-orange"</p>
			<p class="text-red">Text class color = ".text-red"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-grey">Text class color = ".text-grey"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<p class="text-white">Text class color = ".text-white"</p>
		</div>
		<hr />
		<h2 class="text-primary">Background Color</h2>
		<div class="flex flex-col">
			<p class="bg-primary1">Background class color = ".bg-primary"</p>
			<p class="bg-secondary">Background class color = ".bg-secondary"</p>
			<p class="bg-warning">Background class color = ".bg-warning"</p>
			<p class="bg-danger">Background class color = ".bg-danger"</p>
			<p class="bg-green">Background class color = ".bg-green"</p>
			<p class="bg-orange">Background class color = ".bg-orange"</p>
			<p class="bg-red">Background class color = ".bg-red"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-grey">Background class color = ".bg-grey"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<p class="bg-white">Background class color = ".bg-white"</p>
		</div>
		<h2 class="text-primary">Black Tones</h2>
		<div class="flex flex-col">
			<p class="text-black10">Black tone = ".text-black10" ($black10)</p>
			<p class="text-black20">Black tone = ".text-black20" ($black20)</p>
			<p class="text-black30">Black tone = ".text-black30" ($black30)</p>
			<p class="text-black40">Black tone = ".text-black40" ($black40)</p>
			<p class="text-black50">Black tone = ".text-black50" ($black50)</p>
			<p class="text-black60">Black tone = ".text-black60" ($black60)</p>
			<p class="text-black70">Black tone = ".text-black70" ($black70)</p>
			<p class="text-black80">Black tone = ".text-black80" ($black80)</p>
			<p class="text-black90">Black tone = ".text-black90" ($black90)</p>
			<p class="text-black">Black tone = ".text-black" ($black)</p>
		</div>
		<h2 class="text-primary">Link Color</h2>
		<div class="flex flex-col">
			<p>Link color = <a class="link-primary1" href="#">".link-primary"</a></p>
			<p>
				Link color = <a class="link-secondary" href="#">".link-secondary"</a>
			</p>
			<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>
			<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
			<p>Link color = <a class="link-green" href="#">".link-green"</a></p>
			<p>Link color = <a class="link-orange" href="#">".link-orange"</a></p>
			<p>Link color = <a class="link-red" href="#">".link-red"</a></p>
			<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
			<p>Link color = <a class="link-grey" href="#">".link-grey"</a></p>
			<p>
				Link color = <a class="link-light-grey" href="#">".link-light-grey"</a>
			</p>
			<p>Link color = <a class="link-white" href="#">".link-white"</a></p>
		</div>
	</div>
</template>
