<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Form</h2>
		<form action="">
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="text"
						name="text"
						placeholder="Text"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Full Width Input
				</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input form-input--block"
						type="text"
						name="fullwidth"
						placeholder="Full Width Input"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Password Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="password"
						name="password"
						placeholder="Password"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="email"
						name="email"
						placeholder="Email"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="number"
						name="number"
						placeholder="Number"
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Single File Input (Full Width)
				</div>
				<div class="bzg_c flex" data-col="s12,m8,l8">
					<input
						id="singleFile"
						class="form-input js-file-input"
						type="file"
						name="file"
					/>
					<label class="flex form-file-label" for="singleFile">
						<div class="js-file-name form-file-input form-input--block"></div>
						<div class="btn--primary1 ml-4 flex v-center">Browse</div>
					</label>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">
					Multiple File Input
				</div>
				<div class="bzg_c flex" data-col="s12,m8,l8">
					<input
						id="multipleFile"
						class="form-input js-file-input"
						type="file"
						name="file"
						multiple
					/>
					<label class="flex form-file-label" for="multipleFile">
						<div class="js-file-name form-file-input"></div>
						<div class="btn--primary1 ml-4 flex v-center">Browse</div>
					</label>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Textarea Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<textarea
						class="form-input"
						name="textarea"
						placeholder="Text Area"
					></textarea>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Disabled Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="text"
						name="disabled"
						placeholder="Disabled"
						disabled
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Read-only Input</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						class="form-input"
						type="text"
						name="readonly"
						placeholder="Read-only"
						readonly
					/>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Dropdown Select</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<select class="form-input" name="dropdown">
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group">
						<label class="form-check__item" for="rbOption1"
							><input id="rbOption1" type="radio" name="radio" /> Option
							1</label
						>
						<label class="form-check__item" for="rbOption2"
							><input id="rbOption2" type="radio" name="radio" /> Option
							2</label
						>
						<label class="form-check__item" for="rbOption3"
							><input id="rbOption3" type="radio" name="radio" /> Option
							3</label
						>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group">
						<label class="form-check__item" for="cbOption1"
							><input id="cbOption1" type="checkbox" name="checkbox" checked />
							Option 1</label
						>
						<label class="form-check__item" for="cbOption2"
							><input id="cbOption2" type="checkbox" name="checkbox" /> Option
							2</label
						>
						<label class="form-check__item" for="cbOption3"
							><input id="cbOption3" type="checkbox" name="checkbox" checked />
							Option 3</label
						>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
					<button class="btn btn--primary1" type="submit">Submit</button>
					<button class="btn btn--ghost-secondary" type="reset">Cancel</button>
				</div>
			</div>
		</form>
		<hr />
		<h2 class="text-primary">Form Validation</h2>
		<form action="">
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="$v.formData.username.$model"
						class="form-input"
						type="text"
						name="username"
						placeholder="Username"
						autocomplete="off"
					/>
					<div v-if="$v.formData.username.$error" class="form-error-msg">
						<div v-if="!$v.formData.username.required">
							This field is required
						</div>
						<div v-if="!$v.formData.username.minLength">
							{{ $v.formData.username.$params.minLength.min }} minimal character
						</div>
						<div v-if="!$v.formData.username.maxLength">
							{{ $v.formData.username.$params.maxLength.max }}
							maximal character
						</div>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="$v.formData.email.$model"
						class="form-input"
						type="email"
						name="email"
						placeholder="Email"
						autocomplete="off"
					/>
					<div v-if="$v.formData.email.$error" class="form-error-msg">
						<div v-if="!$v.formData.email.required">This field is required</div>
						<div v-if="!$v.formData.email.email">Invalid email address</div>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<input
						v-model="$v.formData.birthdate.$model"
						class="form-input datepicker-here js-date"
						type="text"
						name="birthdate"
						placeholder="Birthdate"
						required
					/>
					<div v-if="$v.formData.birthdate.$error" class="form-error-msg">
						<div v-if="!$v.formData.birthdate.required">
							This field is required
						</div>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group">
						<label class="form-check__item" for="gender1"
							><input
								id="gender1"
								v-model="$v.formData.gender.$model"
								value="male"
								type="radio"
								name="gender"
							/>
							Male</label
						>
						<label class="form-check__item" for="gender2"
							><input
								id="gender2"
								v-model="$v.formData.gender.$model"
								value="female"
								type="radio"
								name="gender"
							/>
							Female</label
						>
						<div v-if="$v.formData.gender.$error" class="form-error-msg">
							<div v-if="!$v.formData.gender.required">
								This field is required
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bzg mb-24">
				<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
				<div class="bzg_c" data-col="s12,m8,l8">
					<div class="form-check-group form-input--block">
						<label class="form-check__item" for="hobby1"
							><input id="hobby1" type="checkbox" name="hobby" /> Reading</label
						>
						<label class="form-check__item" for="hobby2"
							><input id="hobby2" type="checkbox" name="hobby" /> Writing</label
						>
						<label class="form-check__item" for="hobby3"
							><input id="hobby3" type="checkbox" name="hobby" /> Running</label
						>
						<label
							class="form-check__item"
							for="hobby4"
							data-invalid="Custom Error Message"
							><input id="hobby4" type="checkbox" name="hobby" />
							Swimming</label
						>
					</div>
				</div>
			</div>
			<div class="bzg mb-12">
				<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
					<button
						class="btn btn--primary1"
						type="submit"
						:disabled="$v.$invalid"
					>
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
	<!--//import { required } from 'vuelidate/lib/validators'-->
</template>
<script>
import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'
export default {
	data() {
		return {
			formData: {
				username: null,
				email: null,
				birthdate: null,
				gender: null
			}
		}
	},
	validations: {
		formData: {
			username: {
				required,
				minLength: minLength(4),
				maxLength: maxLength(16)
			},
			email: {
				required,
				email
			},
			birthdate: {
				required
			},
			gender: {
				required
			}
		}
	}
}
</script>
<style lang="scss" scoped>
.form-label {
	@media #{$medium} {
		text-align: right;
	}
	margin-bottom: 8px;
}
</style>
