<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Headings</h2>
		<div class="flex flex-col">
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		</div>
		<hr />
		<h2 class="text-primary">Heading Style</h2>
		<div class="flex flex-col">
			<p class="h1">Text size adjust 1</p>
			<p class="h2">Text size adjust 2</p>
			<p class="h3">Text size adjust 3</p>
			<p class="h4">Text size adjust 4</p>
			<p class="h5">Text size adjust 5</p>
			<p class="h6">Text size adjust 6</p>
		</div>
	</div>
</template>
