<template>
	<!-- Header -->
	<main class="site-main flex flex-col v-center--spread bg-dark-grey">
		<div class="flex flex-spacer v-center pl-24 pt-16">
			<div class="flex h-center v-center">
				<img src="~assets/img/white-logo.png" alt="white-logo" />
			</div>
			<h3 class="text-white mb-0">Baze UI</h3>
		</div>
		<div
			class="index-content flex flex-col h-center v-center pl-24 pr-24"
			style="height: 80vh"
		>
			<div class="flex h-center mb-36">
				<img src="~assets/img/site-logo.png" alt="white-logo" width="80" />
			</div>
			<p class="h2 text-center mb-36 text-white">
				A minimal setup for your frontend environment
			</p>
			<div
				class="button-container flex flex-responsive flex-spacer h-center h-center"
			>
				<NuxtLink class="btn--primary mb-16" to="/headings"
					>GET STARTED</NuxtLink
				>
				<NuxtLink class="btn--ghost-white mb-16" to="/main">DOWNLOAD</NuxtLink>
			</div>
		</div>
		<div class="flex flex-spacer text-center h-center pb-12 text-white">
			<span>Version 2.20.0</span>
			<span>|</span>
			<span>Powered by: Suitmedia.com</span>
		</div>
	</main>
</template>

<script>
export default {
	layout: 'blanklayout'
}
</script>

<style lang="scss" scoped>
.site-main {
	height: 100vh;
	width: 100vw;
	.index-content {
		height: 80vh;
		.button-container {
			width: 100%;
			//@media # width: 80%;
		}
	}
}
</style>
