<template>
	<div class="flex flex-col">
		<h2 class="text-primary">List</h2>
		<div class="flex flex-col pl-16">
			<h3 class="h6 text-black70"><b>Ordered List</b></h3>
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ol type="a">
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ol>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ol>
		</div>
		<div class="flex flex-col pl-16">
			<h3 class="h6 text-black70"><b>Unordered List</b></h3>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
		</div>
		<div class="flex flex-col pl-16">
			<h3 class="h6 text-black70"><b>Inline List</b></h3>
			<ol class="list-inline">
				<li>Lorem ></li>
				<li>Ipsum ></li>
				<li>Dolor</li>
			</ol>
		</div>
		<div class="flex flex-col pl-16">
			<h3 class="h6 text-black70"><b>No Style List</b></h3>
			<ul class="list-nostyle">
				<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
				<li>
					Incidunt magni consequatur adipisci officiis vero placeat consectetur
				</li>
				<li>
					id facere,
					<ul>
						<li>molestiae in,</li>
						<li>ducimus necessitatibus hic ad esse consequuntur</li>
					</ul>
				</li>
				<li>dignissimos sequi illum doloremque.</li>
			</ul>
		</div>
	</div>
</template>
