<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Media Objects</h2>
		<figure class="media">
			<div class="media-figure">
				<img src="~/assets/img/site-logo.png" alt="" width="50" />
			</div>
			<div class="media-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
				incidunt tempora ratione sapiente, nesciunt consectetur officiis commodi
				soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum,
				reprehenderit modi. Fugiat?
			</div>
		</figure>
		<hr />
		<h2 class="text-primary">Media Objects</h2>
		<figure class="media">
			<div class="media-figure">
				<img src="~/assets/img/site-logo.png" alt="" width="150" />
			</div>
			<div class="media-content">
				<h4 class="media-title text-primary1">Title</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p class="mb-0">
					<button class="btn--primary1 btn--small btn--icon mr-8">
						<i class="bzi-download"></i>
					</button>
					<a class="link-primary1" href="#">Visit somewhere...</a>
				</p>
			</div>
		</figure>
	</div>
</template>
