<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Pagination</h2>
		<ol class="pagination">
			<li>
				<a href="#"><i class="fas fa-angle-left"></i></a>
			</li>
			<li><a class="is-active" href="#">1</a></li>
			<li><a href="#" disabled>2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>
				<a href="#"><i class="fas fa-angle-right"></i></a>
			</li>
		</ol>
		<hr />
		<h2 class="text-primary">Left Pagination</h2>
		<ol class="pagination--left">
			<li>
				<a href="#"><i class="fas fa-angle-left"></i></a>
			</li>
			<li><a class="is-active" href="#">1</a></li>
			<li><a href="#" disabled>2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>
				<a href="#"><i class="fas fa-angle-right"></i></a>
			</li>
		</ol>
		<hr />
		<h2 class="text-primary">Right Pagination</h2>
		<ol class="pagination--right">
			<li>
				<a href="#"><i class="fas fa-angle-left"></i></a>
			</li>
			<li><a class="is-active" href="#">1</a></li>
			<li><a href="#" disabled>2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li>
				<a href="#"><i class="fas fa-angle-right"></i></a>
			</li>
		</ol>
	</div>
</template>
