<template>
	<div>
		<div class="flex flex-col">
			<h2 class="text-primary">Pokemon List</h2>
			<ul class="tabs-bar tabs--justify" style="overflow-x: auto">
				<li
					:class="'tabs-bar-item ' + (0 == gen ? 'tabs-bar-item-active' : '')"
					@click="changeGen(0)"
				>
					All
				</li>
				<li
					v-for="i in 8"
					:key="i"
					:class="'tabs-bar-item ' + (i == gen ? 'tabs-bar-item-active' : '')"
					@click="changeGen(i)"
				>
					Gen {{ i }}
				</li>
			</ul>
			<div v-if="$fetchState.pending" class="flex flex-col v-center mt-20">
				<!--<span class="h2">Catching the pokemon</span>-->
				<img
					v-lazy-load
					data-src="~/assets/img/load-pokemon.gif"
					alt="pokemon-load"
				/>
			</div>
			<div v-else class="flex flex-col v-center">
				<div v-if="gen == 0" class="bzg">
					<PokeCard
						v-for="item in data.results"
						:key="item.name"
						:name="item.name"
					/>
				</div>
				<div v-else class="bzg">
					<PokeCard
						v-for="item in data.pokemon_species"
						:key="item.name"
						:name="item.name"
						:gen="gen"
					/>
				</div>
				<div class="flex flex-spacer mt-32 mb-8">
					<button
						:class="'btn--ghost-primary' + (!data.previous ? ' hidden' : '')"
						@click="prevPage()"
					>
						&lt; Prev
					</button>
					<button
						:class="'btn--ghost-primary' + (!data.next ? ' hidden' : '')"
						@click="nextPage()"
					>
						Next &gt;
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			data: {},
			url: 'https://pokeapi.co/api/v2/pokemon/',
			gen: 0
		}
	},
	async fetch() {
		this.data = await this.$axios.get(this.url).then(res => res.data)
	},
	methods: {
		nextPage() {
			this.url = this.data.next
			this.$fetch()
		},
		prevPage() {
			this.url = this.data.previous
			this.$fetch()
		},
		changeGen(state) {
			this.gen = state
			if (this.gen !== 0) {
				this.url = 'https://pokeapi.co/api/v2/generation/' + state
			} else {
				this.url = 'https://pokeapi.co/api/v2/pokemon/'
			}
			this.$fetch()
		}
	}
}
</script>
