<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Table</h2>
		<div class="table-wrapper">
			<table class="table">
				<thead>
					<tr>
						<th>Header 1</th>
						<th>Header 2</th>
						<th>Header 3</th>
						<th>Header 4</th>
						<th>Header 5</th>
						<th>Header 6</th>
						<th>Header 7</th>
						<th>Header 8</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Row 2 Col 1</td>
						<td>Row 2 Col 2</td>
						<td>Row 2 Col 3</td>
						<td>Row 2 Col 4</td>
						<td>Row 2 Col 5</td>
						<td>Row 2 Col 6</td>
						<td>Row 2 Col 7</td>
						<td>Row 2 Col 8</td>
					</tr>
					<tr>
						<td>Row 3 Col 1</td>
						<td>Row 3 Col 2</td>
						<td>Row 3 Col 3</td>
						<td>Row 3 Col 4</td>
						<td>Row 3 Col 5</td>
						<td>Row 3 Col 6</td>
						<td>Row 3 Col 7</td>
						<td>Row 3 Col 8</td>
					</tr>
					<tr>
						<td>Change</td>
						<td>Window</td>
						<td>size</td>
						<td>to see</td>
						<td>Table</td>
						<td>Wrapper</td>
						<td>in</td>
						<td>action!</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr />
		<h2 class="text-primary">Data Table</h2>
		<div class="table-wrapper">
			<div class="flex f-space-between mb-16">
				<div class="flex flex-spacer v-center">
					<span>show</span>
					<select class="form-input" name="dropdown">
						<option value="1">10</option>
						<option value="2">20</option>
						<option value="3">30</option>
					</select>
					<span>entry</span>
				</div>
				<div class="flex flex-spacer v-center">
					<span>search :</span>
					<input class="form-input" type="text" placeholder="Disabled" />
				</div>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Your Name</td>
						<td>Your Last Name</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>6</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>7</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
					<tr>
						<td>10</td>
						<td>Your Name</td>
						<td>Yout Last Name</td>
					</tr>
				</tbody>
			</table>
			<div class="flex f-space-between mt-16">
				<span>Showing 0 to 0 of 0 entries</span>
				<ol class="pagination--right">
					<li>
						<a href="#"><i class="fas fa-angle-left"></i></a>
					</li>
					<li><a class="is-active" href="#">1</a></li>
					<li><a href="#" disabled>2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li>
						<a href="#"><i class="fas fa-angle-right"></i></a>
					</li>
				</ol>
			</div>
		</div>
	</div>
</template>
