<template>
	<div class="flex flex-col">
		<h2 class="text-primary">Tabs</h2>
		<ul class="tabs-bar">
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 1 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(1)"
			>
				TAB 1
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 2 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(2)"
			>
				TAB 2
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 3 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(3)"
			>
				TAB 3
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 4 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(4)"
			>
				TAB 4
			</li>
		</ul>
		<div class="tabs-content">
			<span>Item {{ currentTab }}</span>
		</div>
		<hr />
		<h2 class="text-primary">Justified Tabs</h2>
		<ul class="tabs-bar tabs--justify">
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 1 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(1)"
			>
				TAB 1
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 2 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(2)"
			>
				TAB 2
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 3 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(3)"
			>
				TAB 3
			</li>
			<li
				:class="
					'tabs-bar-item ' + (currentTab == 4 ? 'tabs-bar-item-active' : '')
				"
				@click="changeTab(4)"
			>
				TAB 4
			</li>
		</ul>
		<div class="tabs-content">
			<span>Item {{ currentTab }}</span>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			currentTab: 1
		}
	},
	methods: {
		changeTab(tab) {
			this.currentTab = tab
		}
	}
}
</script>
